.h2{
  margin: 5%;
  font-weight: bolder;
}

.tabla {
  width: 100%;
  margin: 5%;
  overflow-y: scroll;
  justify-content: center;
}

.tabla th {
  background-color:black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  min-width: 10px;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover {
  background-color: #ffe100;
}

.busqueda{
  justify-content: center;
  border:black;
  border-radius: 1rem;
}

.tabla td{
  text-align: center;
}